<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MovieServer.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Run.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>OBJ_1022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1023</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1062</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1063</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1064</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1065</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1066</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1210</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1211</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1254</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1255</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1303</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1304</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1357</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1373</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1374</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1401</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1443</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1444</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1495</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1496</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1537</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1538</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1579</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1580</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1604</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1605</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1669</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1670</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1671</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1672</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1673</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1674</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1675</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_1676</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2015</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2016</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2035</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2036</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2058</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2059</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2146</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2147</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2188</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2279</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2280</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2358</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2360</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2435</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_2437</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_777</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_778</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_802</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_803</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_809</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_810</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_820</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_821</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_855</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_856</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_875</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_876</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_904</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_905</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_942</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_943</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_966</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_967</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_996</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>OBJ_997</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
